.header {
  height: 43px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.tittle {
 color: white; 
}

.button-add {
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.contact-container {
  background-color: white;
}

.contact-item {
  border: solid 1px black;
  width: 300px;
  display: flex;
  align-items: center;
  margin: 
}