.header {
  height: 43px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.contact-container {
  background-color: white;
}

.contact-item {
  border: solid 1px #bbbbbb;
  width: 300px;
  display: flex;
  align-items: center;
  margin: 10px;
}

@media screen and (min-width: 600px) {
  .selected-contact-container {
    padding: 20px 80px;
  }
}

@media screen and (max-width: 600px) {
  .selected-contact-container {
    padding: 10px;
  }
}

.selected-contact-item {
  border: solid 1px #bbbbbb;
  display: flex;
  align-items: center;
  margin: 10px;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #bbbbbb;
}

.info-container {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.info-warpper {
  display: flex;
  align-items: flex-start;
}

.info-text {
  width: 80px;
  display: inline-block;
}