.header {
  height: 43px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.tittle {
 color: white; 
}

.button-add {
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.modal {
  width: 100vw;
  position: absolute;
  justify-content: center;
  background-color: #fafafaf2;
  height: 100vh;
}

.contact-container {
  background-color: white;
}

.contact-item {
  border: solid 1px #bbbbbb;
  width: 300px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.selected-contact-container {
  padding: 20px 80px;
}

.selected-contact-item {
  border: solid 1px #bbbbbb;
  display: flex;
  align-items: center;
  margin: 10px;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #bbbbbb;
}

.info-container {
  background-color: #bbbbbb;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.info-warpper {
  display: flex;
  align-items: flex-start;
}

.info-text {
  width: 70px;
  display: inline-block;
}